@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import 'tailwindcss';

@theme {
  --color-bg: #f4f7ff;
  --color-claro: #5b47ff; /* tono claro derivado de #1B059C */
  --color-oscuro: #1B059C; /* color primario solicitado */
  --color-hover: #12046f; /* hover más oscuro */
}

:root {
  --input-focus-shadow: 0 6px 18px rgba(27,5,156,0.08);
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
